@{
    ViewBag.Title = "ForCaffe";
}

<div class="jumbotron jumbotron_color">
    <h1>Chegou em Porto Alegre um novo conceito em cafeteria, ForCaffe!</h1>
</div>

<div class="col-md-12">
    <p><center> <img src="~/Imagens/FotoInicial.png" width="900" height="900" class="img-responsive"></center></p>
    <br />
</div>

<div class="row">

</div>
<div class="col-md-4">
    <img src="~/Imagens/Propaganda.jpg" width="350" height="350" class="img-circle">
    <div class="page-header text-center">
        <p>
            Combo com café e croassant por apenas R$ 16,90
        </p>
    </div>
</div>
<div class="col-md-4">
    <img src="~/Imagens/Foto2Cafes.jpg" width="350" height="350" class="img-circle">
    <div class="page-header text-center">
        <p>
            Espresso Triple Coffe por apenas R$ 11,90
        </p>
    </div>
</div>
<div class="col-md-4">
    <img src="~/Imagens/CafePoa.jpg" width="350" height="350" class="img-circle">
    <div class="page-header text-center">
        <p>
            Leve o seu café para onde quiser
        </p>
    </div>
</div> 

<style>
    .jumbotron_color {
        background-color: rgb(51, 90, 86);
        color: rgb(210, 189, 141);
    }

    body {
        background-color: rgb(88, 55, 42);
        color: #ffffff;
    }
</style>

